header {
  background-color: var(--secondary-color);
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .left--total {
    display: flex;
    align-items: center;
    gap: 4rem;
  }
  .logo--container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .logo--img {
    width: 4rem;
    height: 4rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo--img i {
    color: var(--light-color);
    font-size: 2.5rem;
    font-weight: bold;
  }
  .logo--container span {
    font-weight: bold;
    font-size: 1.8rem;
  }
  .navbar ul {
    display: flex;
    gap: 1.5rem;
  }
  .navbar ul li {
    transition: all 0.3s ease-in-out;
    
  }
  .navbar ul li:hover {
    transform: rotate(-5deg);
    
  }
  .navbar ul li a {
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
    border-radius: 0.5rem;
  }
  .navbar ul li a:hover {
    color: var(--primary-color);
    background-color: var(--light-color);
    box-shadow: inset 0.1rem 0.2rem 0.3rem #000;
    
  }
  .right--total {
    display: flex;
    gap: 0.5rem;
  }
  .right--total button {
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    
  }
  .btn--login {
    background: none;

  }
  .btn--signin {
    background-color: var(--primary-color);
    color: var(--light-color);
  }

 
  /*
  =================================
   some styles added for navigation
  =================================
   */

  